---
import Layout from "../layouts/Layout.astro";
import CartReact from '../components/Cart';
import ProtectedRoute from '../components/ProtectedRoute';
---

<Layout title="Carrito - Entre Libros">
  <ProtectedRoute client:load>
    <main class="bg-primary-dark">
      <CartReact client:load />
    </main>
  </ProtectedRoute>
</Layout>



