---
import ContactReact from '../components/Contact.tsx'; // Ajusta la ruta a tu componente React
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
      <ContactReact />
    </main>
</Layout>
