---
import Layout from "../layouts/Layout.astro";
import { EpubViewer } from "../components/Reader";
---

<Layout>
  <main>
    <EpubViewer client:load url="/testBook/alicia.epub" initialTheme="dark" />
  </main>
</Layout>
